---
layout: default
comments_enable: true
permalink: /400.html
sitemap: false
---

<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  .error-page-explain {
    margin: 1.5em auto;
    padding: 1em;
    background-color: #FFBF00; /* amber warning */
    text-align: left;
  }
  h1 {
    display: none; /* h1 for web scrapers */
  }
</style>

<div class="container">
  <h1>400</h1>

  <a href="https://httpstatusdogs.com/400">
    <img src="/assets/httpstatusdogs-400.jpg" style="border:0;" alt="httpstatusdogs-400" title="Credit to httpstatusdogs.com"/>
  </a>
  
  <p class="error-page-explain"><strong>/!\</strong>&nbsp;抱歉，您的请求服务器无法理解。但您可以选择提供帮助，在下方留言吧。博主会尝试修复它的。&nbsp;
  Sorry, this URL seems invalid for responing... But you can choose to lend a hand by leaving a comment below. Let's try to fix problems.</p>
</div>
{% include isso_comments.html %}
{% include comments_handler.html %}
<script>
  // error pages got the same comment thread
  document.getElementById("isso-thread").setAttribute("data-isso-id", "400");
  // auto unfold on error pages
  window.addEventListener('load', errorpageCommentsHandler, false);

  function errorpageCommentsHandler() {
    resizeCommentsBox();

  }

  // hack the domready() in ISSO
  function hideLoadingPrompt() {
    let _o = document.getElementById("comments-loading-prompt");
    _o.style.display = 'none';

    // auto fill error page location
    document.getElementsByClassName("textarea")[0].classList.remove("placeholder");
    document.getElementsByClassName("textarea")[0].innerHTML = window.location.href + "&#10;&#10;"; 

  }
</script>
