---
layout: default
comments_enable: true
permalink: /410.html
sitemap: false
---

<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  .error-page-explain {
    margin: 1.5em auto;
    padding: 1em;
    background-color: #FFBF00; /* amber warning */
    text-align: left;
  }
  h1 {
    display: none; /* h1 for web scrapers */
  }
</style>

<div class="container">
  <h1>410</h1>

  <a href="https://httpstatusdogs.com/410">
    <img src="/assets/httpstatusdogs/httpstatusdogs-410.jpg" style="border:0;" alt="httpstatusdogs-410" title="Credit to httpstatusdogs.com"/>
  </a>
  
  <p class="error-page-explain"><strong>/!\</strong>&nbsp;抱歉，您指定的资源已从服务器永久移除。但您可以选择参与讨论，在下方留言吧。博主会尝试说服您。&nbsp;
  Sorry, this URL leads to an abandoned resource... But you can choose to discus what you want by leaving a comment blow.</p>
</div>
{% include isso_comments.html %}
{% include comments_handler.html %}
<script>
  // error pages got the same comment thread
  document.getElementById("isso-thread").setAttribute("data-isso-id", "410");
  // auto unfold on error pages
  window.addEventListener('load', errorpageCommentsHandler, false);

  function errorpageCommentsHandler() {
    resizeCommentsBox();

  }

  // hack the domready() in ISSO
  function hideLoadingPrompt() {
    let _o = document.getElementById("comments-loading-prompt");
    _o.style.display = 'none';

    // auto fill error page location
    document.getElementsByClassName("textarea")[0].classList.remove("placeholder");
    document.getElementsByClassName("textarea")[0].innerHTML = window.location.href + "&#10;&#10;"; 

  }
</script>
