# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: 熵降 - Decrease In Entropy
subtitle: 向死而生，永不后悔 - Being toward death, do not regret.
version: v0.0.1
author: Jiahao
email: me@djh.im
description: >- # this means to ignore newlines until "baseurl:"
  记录对科技的想法，用最平凡的文字分享知识技巧。
  Blog what I though about tech stuff, trying with the most plain words to share knowledge.
footer_title: For Your Infomation
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://blog.djh.im" # the base hostname & protocol for your site, e.g. http://example.com
# twitter_username: jekyllrb
github_username:  delight09
steam_username:  dummyred
v2ex_username:  imdjh
reddit_username:  imdjh
stackoverflow_username: 4349454
xiami_username: 18512723

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
