<script>
    document.getElementsByClassName("comments-wrapper-stroke")[0].addEventListener("click", resizeCommentsBox);
    document.getElementById("comments-prompt").addEventListener("click", resizeCommentsBox);

    // set comments tid to forgiving URL pattern difference
    var l = window.location.pathname;
    l = l.substr(0, l.lastIndexOf('.')) || l; // remove suffix if exists
    l = l.match(/.*\/(.+)$/)[1]; // get basename
    l = l.substr(0, l.lastIndexOf('/')) || l; // remove tailing slash if exists
    document.getElementById("isso-thread").setAttribute("data-isso-id", l);


function resizeCommentsBox() {
    let _o = document.getElementById("comments-loader");

    if (!_o.src) { // not loaded, init comments
        _o.src = 'https://comments.blog.djh.im:7223/js/embed.min.js';
    }

    _o = document.getElementById("comments-content");
    if (_o.style.display === 'none') {
        _o.style.display = 'block';

        _o = document.getElementById("comments-box");
        _o.style.margin = '0';
        _o.style.height = '100%';
        _o = document.getElementById("comments-prompt");
        _o.innerHTML = '关闭评论';
    } else {
        _o.style.display = 'none';

        _o = document.getElementById("comments-box");
        _o.style.margin = '0 3.5em';
        _o.style.height = '3.123em';
        _o = document.getElementById("comments-prompt");
        _o.innerHTML = '展开评论';
    }


}
</script>
